.container{
    display:flex;
    justify-content: space-between;
    
}
#navbar{
line-height:30px;
height: 100%;
min-width: 300px;
position:fixed;
top: 0;
left: 0;
overflow:scroll;
border:2px solid black;
}
#navbar header{
    font-size:25px;
    font-weight:bold;
    text-align:center;
    padding-top:5px;
}
#navbar li{
    list-style:none;
    border-top: 1px solid black;
padding-top:13px
}

#navbar ul{
padding: 0;
height:80%;

}

#navbar li a{
    display:block;
    text-decoration: none;
    font-size: 18px;
    color:black;
    text-transform:capitalize;
    padding-left:15px;
}

.content{
    width:;
    height: 700px;
    position: absolute;
    margin-left: 350px;
    padding: 20px;
    
}

.content header{
    font-weight:bold;
    font-size:26px;
padding:0px;
}
.main-section{
    margin-top:20px;
}
.main-section artical{
    width:75%;
   
}
 .code-back{
    background:rgb(247, 245, 245);
    width:100%;
    border:1px solid transparent;
    word-break:normal;
    word-wrap:normal;
    
    padding:10px;    
    padding-left:5px;
    
    margin-left:5px;    
    font-size:12px;
   
}
artical p{
    padding:10px;
}
artical li{
line-height:2;
}

